# Dependencies
node_modules/
.vscode/

# Build
build/
dist/

# Environment files
.env
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (if you include your backend in same repo)
.venv/
__pycache__/
db.sqlite3
